header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(6, 214, 160, 1);
  padding: 20px;
}

.text h1 {
  margin: 0;
  color: white;
  margin-left: 50px;
  font-size: 48px;
  font-weight: 500;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-size: 25px;
}
